<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

		<add name="sitedb" connectionString="Data Source=.;Initial Catalog=crystal;Integrated Security=True;Pooling=False;MultipleActiveResultSets=true"/>
		<!--<add name="sitedb" connectionString="Data Source=sql5085.site4now.net;Initial Catalog=DB_A17EE8_albansite;User Id=DB_A17EE8_albansite_admin;Password=albansite1"/>-->


  </connectionStrings>
  <appSettings>

		<add key="startSalt" value="P%2@x"/>
		<add key="endSalt" value="0k1"/>
		<add key="key" value="test1234"/>

  </appSettings>

  <system.web>
		<machineKey validationKey='56E33DB3EF45C0ECB42360EADB2B7853BD808999E5CDC5208A37F9BC8FC281D2372EB6D54D37C96A7CD6EA63CE894A1523DDB9F79045C86FFE1283F6068A1885'   decryptionKey='B8AB14F7BF5D4B2B1DF82826E9B61AD795824B8D60F4F8E3'   validation='SHA1'/>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
		<httpRuntime requestValidationMode="2.0" executionTimeout="60000" maxRequestLength="1048576" maxQueryStringLength="32768" maxUrlLength="65536" />
		<customErrors mode="Off"/>

		<pages validateRequest="false">
		</pages>
	</system.web>
	<system.webServer>
		<httpErrors errorMode="Detailed"></httpErrors>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="32768000"/>
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="*" />
				<add name="Access-Control-Allow-Credentials" value="true" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>

</configuration>